html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
/* 隐藏body的滚动条 */
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}
/* 文字在宽度内只显示2行 */
.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}